<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>Gstroke</key>
    <string>G_stroke.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>entail-cy</key>
    <string>entail-cy.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>ezh.smcp</key>
    <string>ezh.smcp.glif</string>
    <key>f_j.liga</key>
    <string>f_j.liga.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gstroke.smcp</key>
    <string>gstroke.smcp.glif</string>
    <key>hacek.case</key>
    <string>hacek.case.glif</string>
    <key>hacek.smcp</key>
    <string>hacek.smcp.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>iacute_j.loclNLD</key>
    <string>iacute_j.loclN_L_D_.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>kadescender-cy.smcp</key>
    <string>kadescender-cy.smcp.glif</string>
    <key>longs_longs.liga</key>
    <string>longs_longs.liga.glif</string>
    <key>longs_t.liga</key>
    <string>longs_t.liga.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohorn.smcp</key>
    <string>ohorn.smcp.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>schwa.smcp</key>
    <string>schwa.smcp.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhorn.smcp</key>
    <string>uhorn.smcp.glif</string>
    <key>ustrait-cy</key>
    <string>ustrait-cy.glif</string>
    <key>yat-cy</key>
    <string>yat-cy.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>yusbig-cy.smcp</key>
    <string>yusbig-cy.smcp.glif</string>
    <key>zhedescender-cy.smcp</key>
    <string>zhedescender-cy.smcp.glif</string>
  </dict>
</plist>
